name: "Build"
on:
  push:
    branches:
      - master
  pull_request:
jobs:
  test-bootstrap:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.2
      - uses: cachix/install-nix-action@v10
      - uses: cachix/cachix-action@v6
        with:
          name: fzakaria
          signingKey: '${{ secrets.CACHIX_SIGNING_KEY }}'
      - run: nix-build -A mvn2nix-bootstrap
      - run: ./result/bin/mvn2nix > mvn2nix-lock.json
      - run: nix-build -A buildMavenRepositoryFromLockFile --arg file "./mvn2nix-lock.json"
  tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2.3.2
    - uses: cachix/install-nix-action@v10
    - uses: cachix/cachix-action@v6
      with:
        name: fzakaria
        signingKey: '${{ secrets.CACHIX_SIGNING_KEY }}'
    - run: nix-build
    - run: ./result/bin/mvn2nix -A mvn2nix > mvn2nix-lock.json
    - run: nix-build -A buildMavenRepositoryFromLockFile --arg file "./mvn2nix-lock.json"